html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.chat li > span { font-size: 9pt; margin-right: 6px; }
.chat .t { color: purple; }
.chat .u { color: green; }
.chat .m { color: darkblue; }